:root {
	--dark-brown: #3a220c;
	--light-beige: #d7b891;
	--orange-brown: #bf7f35;
	--herb-green: #87966b;
}

*, *::before, *::after { box-sizing: inherit; }

html {
	box-sizing: border-box;
}

body {
	width: 500px;
	margin: 0 auto;

	color: #5c3411;
	background-color: #d4a976;
}

h1 {
	text-align: center;
}

img {
	border:medium solid var(--orange-brown);
	border-radius: 2rem;
	max-width: 500px;
}